# Convert IPUMS data into something Tableau can swallow

In [1]:
#imports
import os
import pandas as pd
import numpy as np

In [2]:
#get data
mydir = os.getcwd()
fulldata = pd.read_csv(os.path.join(mydir,'hhdata.csv'))

In [3]:
#initialize zeros array
counter = fulldata.nunique()
output = np.zeros([counter[2],6])

In [4]:
currSerial = 0
currYear = 0
grpAge = np.zeros(30)
grpEmp = np.zeros(30)
j = 0
init=True
working = True
for i in range(len(fulldata)):
    if fulldata["YEAR"][i] > currYear
        currSerial = 0
        currYear = fulldata["YEAR"][i]
    if fulldata["SERIAL"][i] > currSerial:
        if init:
            k=0
            currSerial = fulldata["SERIAL"][i]
            grpAge = np.zeros(30)
            grpEmp = np.zeros(30)
            grpAge[k] = fulldata["AGE"][i]
            grpEmp[k] = fulldata["EMPSTAT"][i]
            k+=1
            init = False
        else:
            #test if household has child under 18
            if np.min(grpAge[np.nonzero(grpAge)])<18:
                U18 = True
            else:
                U18 = False
            
            #test for working people in household
            grpEmpTest = grpEmp - 1
            numWorking = len(grpEmpTest) - np.count_nonzero(grpEmpTest)
            if numWorking>0:
                working = True
            else:
                working = False
            
            #take down values
            output[j][0] = fulldata["YEAR"][i-1]
            output[j][1] = fulldata["HHWT"][i-1]
            output[j][2] = fulldata["STATEFIP"][i-1]
            output[j][3] = fulldata["POVERTY"][i-1]
            output[j][4] = U18
            output[j][5] = working
            j+=1
            
            #reset counter
            k=0
            currSerial = fulldata["SERIAL"][i]
            grpAge = np.zeros(30)
            grpEmp = np.zeros(30)
            grpAge[k] = fulldata["AGE"][i]
            grpEmp[k] = fulldata["EMPSTAT"][i]
            k+=1
    else:
        grpAge[k] = fulldata["AGE"][i]
        grpEmp[k] = fulldata["EMPSTAT"][i]
        k+=1
    if i==len(fulldata)-1:
        #test if household has child under 18
        if np.min(grpAge[np.nonzero(grpAge)])<18:
            U18 = True
        else:
            U18 = False
            
        #test for working people in household
        grpEmpTest = grpEmp - 1
        numWorking = len(grpEmpTest) - np.count_nonzero(grpEmpTest)
        if numWorking>0:
            working = True
        else:
            working = False
            
        #take down values
        output[j][0] = fulldata["YEAR"][i]
        output[j][1] = fulldata["HHWT"][i]
        output[j][2] = fulldata["STATEFIP"][i]
        output[j][3] = fulldata["POVERTY"][i]
        output[j][4] = U18
        output[j][5] = working

IndexError: index 30 is out of bounds for axis 0 with size 30

In [ ]:
pd.dataframe(output)

In [ ]:
#output data
dfoutput = pd.dataframe(output)
dfoutput.to_csv(os.path.join(mydir,'hhcleandata.csv'))

In [14]:
fulldata

,YEAR,DATANUM,SERIAL,HHWT,STATEFIP,GQ,HHINCOME,PERNUM,PERWT,AGE,EMPSTAT,EMPSTATD,POVERTY
0,2007,1,4,88,1,1,46300,1,87,33,1,10,189
1,2007,1,4,88,1,1,46300,2,66,25,3,30,189
2,2007,1,4,88,1,1,46300,3,69,9,0,0,189
3,2007,1,4,88,1,1,46300,4,70,7,0,0,189
4,2007,1,4,88,1,1,46300,5,72,2,0,0,189
5,2007,1,6,89,1,1,154400,1,94,58,1,10,501
6,2007,1,6,89,1,1,154400,2,67,56,1,10,501
7,2007,1,6,89,1,1,154400,3,117,27,1,10,501
8,2007,1,6,89,1,1,154400,4,97,9,0,0,501
9,2007,1,7,62,1,1,126000,1,63,39,1,10,501
10,2007,1,7,62,1,1,126000,2,76,41,1,10,501
11,2007,1,7,62,1,1,126000,3,63,10,0,0,501
12,2007,1,7,62,1,1,126000,4,61,8,0,0,501
13,2007,1,8,24,1,1,82000,1,25,46,1,10,252
14,2007,1,8,24,1,1,82000,2,25,35,1,10,501
15,2007,1,12,249,1,1,1770,1,250,21,1,10,10
16,2007,1,12,249,1,1,1770,2,147,3,0,0,10
17,2007,1,12,249,1,1,1770,3,324,0,0,0,10
18,2007,1,14,64,1,1,115620,1,65,30,1,10,501
19,2007,1,14,64,1,1,115620,2,71,30,1,10,501
20,2007,1,14,64,1,1,115620,3,75,6,0,0,501
21,2007,1,14,64,1,1,115620,4,100,3,0,0,501
22,2007,1,16,56,1,1,75380,1,57,78,3,30,223
23,2007,1,16,56,1,1,75380,2,109,43,3,30,223
24,2007,1,16,56,1,1,75380,3,108,41,1,10,223
25,2007,1,16,56,1,1,75380,4,109,21,1,10,223
26,2007,1,16,56,1,1,75380,5,45,18,3,30,223
27,2007,1,16,56,1,1,75380,6,28,13,0,0,223
28,2007,1,16,56,1,1,75380,7,73,48,1,10,223
29,2007,1,18,27,1,1,45400,1,27,56,1,10,423
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25047097,2016,1,1380212,68,56,1,170000,1,69,64,1,10,501
25047098,2016,1,1380212,68,56,1,170000,2,91,62,1,10,501
25047099,2016,1,1380213,41,56,1,173400,1,41,59,1,10,501
25047100,2016,1,1380213,41,56,1,173400,2,39,63,3,30,501
25047101,2016,1,1380215,93,56,1,433000,1,92,55,1,10,501
25047102,2016,1,1380215,93,56,1,433000,2,110,59,3,30,501
25047103,2016,1,1380216,187,56,1,127500,1,187,57,1,10,501
25047104,2016,1,1380216,187,56,1,127500,2,186,55,1,10,501
25047105,2016,1,1380216,187,56,1,127500,3,198,16,3,30,501
25047106,2016,1,1380219,150,56,1,40000,1,150,31,1,10,321
25047107,2016,1,1380220,114,56,1,75000,1,114,50,1,10,501
25047108,2016,1,1380222,61,56,1,101000,1,61,59,1,10,501
25047109,2016,1,1380222,61,56,1,101000,2,52,55,1,10,501
25047110,2016,1,1380223,679,56,1,18050,1,679,25,1,10,60
25047111,2016,1,1380223,679,56,1,18050,2,192,23,3,30,1
25047112,2016,1,1380223,679,56,1,18050,3,192,23,3,30,1
25047113,2016,1,1380224,94,56,1,153500,1,93,38,1,10,501
25047114,2016,1,1380224,94,56,1,153500,2,78,41,1,10,501
25047115,2016,1,1380224,94,56,1,153500,3,60,10,0,0,501
25047116,2016,1,1380224,94,56,1,153500,4,73,8,0,0,501
25047117,2016,1,1380225,172,56,1,15600,1,171,23,1,10,94
25047118,2016,1,1380225,172,56,1,15600,2,244,2,0,0,94
25047119,2016,1,1380226,24,56,1,93900,1,24,27,1,10,490
25047120,2016,1,1380226,24,56,1,93900,2,33,28,1,10,490
25047121,2016,1,1380226,24,56,1,93900,3,34,1,0,0,490
25047122,2016,1,1380227,65,56,1,65000,1,65,64,1,10,501
25047123,2016,1,1380228,73,56,1,22200,1,73,61,1,10,179
25047124,2016,1,1380229,67,56,1,100000,1,67,53,1,10,501
25047125,2016,1,1380229,67,56,1,100000,2,47,52,1,10,501
25047126,2016,1,1380232,314,56,4,9999999,1,314,31,1,10,132

In [15]:
counter

YEAR             10
DATANUM           1
SERIAL      1392100
HHWT           1310
STATEFIP         51
GQ                4
HHINCOME      72447
PERNUM           20
PERWT          1556
AGE              98
EMPSTAT           4
EMPSTATD          7
POVERTY         502
dtype: int64

In [18]:
fulldata.iloc[2462819]

YEAR         2008
DATANUM         1
SERIAL         17
HHWT          177
STATEFIP        1
GQ              1
HHINCOME    80000
PERNUM          2
PERWT         305
AGE            43
EMPSTAT         1
EMPSTATD       10
POVERTY       364
Name: 2462819, dtype: int64

In [19]:
currSerial

1360285